extends layout

block content
  .menu
    h2 Menu
    ul.nav.nav-pills
      li.active
        a(href="/tasks") Home
      li
        a(href="/tasks") Intepreter
  .home
    p The Language of Effective Definitions (LED) is a formal language for writing computable functions, designed by Dr. Nelson Rushton at Texas Tech University. 
      |.
    p LED can be used as a functional programming language, as a tool for teaching mathematics and functional programming, or as a medium for precise human-to-human communication of mathematical definitions.
